//
//  Secrets.xcconfig
//  firatilhancomtr
//
//  Created by Fırat İlhan on 27.05.2026.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project


BASE_URL = https://www.firatilhan.com.tr/api.php
